@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;

body {
  background-color: #fafafa;
  @apply font-sans antialiased;
}

body.ReactModal__Body--open > div[aria-hidden="true"] {
  filter: blur(10px);
}

@tailwind components;
@tailwind utilities;

.grayscale-1 {
  filter: grayscale(1);
}

.blend-multiply {
  mix-blend-mode: multiply;
}

ul.list-style-type-dash {
  list-style-type: "-";
}

li.list-style-type-dash span {
  margin-left: 3px;
}
